.grid {
  background: white;
  border: 1px solid black;
}

.canvas {
  position: absolute;
  left: 324px;
  top: 0px;
}

.controls {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin-left: 40px;
}

.controls button {
  margin: 0 auto;
}
.controls h2 {
  text-align: center;
  font-size: 30px;
}

.presets {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  width: 15%;
  margin-left: 40px;
}

.presets h3 {
  text-align: center;
  font-size: 18px;
}

.presets button {
  margin: 0 auto;
}
